/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
.navbar .navTitle{
  color : white; 

}

body {
  background-image: url('../../back/webp/about.webp');
  background-color: rgba(0, 0, 0, 0.35);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  position: relative;
  color : white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(10, 30, 35, 0.7) 100%);
  pointer-events: none;
  z-index: -1;
}

img{
    max-width: 100%;
}
a{
  text-decoration: none;
}
.green-button{
 a {
  font-size: 14px;
  color: #fff;
  background-color: #43ba7f;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;

  &:hover {
    opacity: 0.9;
  }
}
}

.white-button{
    > a {
  font-size: 14px;
  color: white;
  background-color: var(--secondaryColor);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;

  &:hover {
    opacity: 0.9;
  }
  
}
}


section {
  margin-top: 120px;
  position: relative;
  z-index: 1;
}


/* 
---------------------------------------------
section heading
--------------------------------------------- 
*/
.section-heading {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 70px;

  >h6 {
    font-size: 16px;
    text-transform: uppercase;
    color: #43ba7f;
    font-weight: 700;
  }
  
   >h4 {
    margin-top: 10px;
    line-height: 40px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
  }
  >p {
    margin-top: 30px;
    color: #ddd;
  }
}


/* 
---------------------------------------------
page heading
--------------------------------------------- 
*/

.page-heading {
    background-image: url(../../back/webp/projectsBack1.webp);
    background-blend-mode: overlay;
    background-color: rgba(2, 14, 19, 0.7);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 215px 0px 120px 0px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .page-heading h2 {
    font-size: 56px;
    color: #fff;
    font-weight: 700;
  }
  
  .page-heading .div-dec {
    width: 80px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px auto 0 auto;
  }
  
  


/* 
---------------------------------------------
what -we -do section 
--------------------------------------------- 
*/

section.what-we-do {
    margin-bottom: -30px;
    padding: 10px;
  
    .left-content {
      margin-right: 60px;
      @media(max-width:992px){
         
            margin-right: 0px;
            margin-bottom: 45px;
          
      }
  
      h4 {
        font-size: 22px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 40px;
        color: #fff;

      }
      p {
        margin-bottom: 40px;
        color: #ddd;
      }
      .about-services-img{
        margin-top: 20px;
        border-radius: 10px;

        transition: 0.3s;
        opacity: 0.96;
        cursor: pointer;
        &:hover{
         transform: rotate(-1deg) scale(1.01) translateX(5px) ;
         opacity: 1;
        }
      }
    
    }
  
    .right-items {
      @media(max-width:768px){
        margin-top: 100px;
     
      }


  
      .item {
        border-radius: 5px;
        padding: 40px 30px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        position: relative;
  
        em {
          position: absolute;
          font-style: normal;
          font-size: 44px;
          color: var(--primaryColor);
          font-weight: 600;
          right: 15px;
          top: 5px;
          transition: all 0.3s;
        }
  
        h4 {
          font-size: 22px;
          font-weight: 600;
          width: 88%;
          margin-bottom: 22px;
          color: #fff;
        }
        
        p {
          color: #ddd;
        }
  
        &:hover em {
          top: 10px;
        }
      }
    }
  }
  
  /*
  ---------------------------------------------
  cta
  ---------------------------------------------
  */
  
  section.simple-cta {
    background-image: url(../../img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding: 80px 0px;

    @media(max-width:992px){
       
            text-align: center;
     
    }
  
    .left-image {
      margin-right: 45px;
    }
  
    h4 {
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      line-height: 50px;
  
      em {
        font-style: normal;
        color: var(--primaryColor);
      }
  
      strong {
        color: var(--secondaryColor);
        font-weight: 700;
      }
    }
  
    p {
      color: #fff;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  
    .buttons {
      display: flex;
      justify-content: end;

      @media (max-width:992px) {
      
            justify-content: center;
          
      }
  
      .white-button {
        margin-left: 20px;
      }
  
      .white-button,
      .green-button {
        margin-top: 25px;
      }
    }
  }
  
  /* 
---------------------------------------------
services page
--------------------------------------------- 
*/

.main-services {
  padding: 10px;
    .service-item {
      margin-bottom: 60px;
      padding-bottom: 60px;
      margin-top: 20px;
      border-bottom: 1px solid #ecf8f2;
  
      &.last-service {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  
    .left-image {
      margin-right: 15px;
  
      @media (max-width: 992px) {
        margin-right: 0px;
        margin-bottom: 30px;
      }
  
      img {
        border-radius: 5px;
        max-width: 100%;
      }
    }
  
    .right-image {
      margin-left: 15px;
      max-width: 100%;
  
      @media (max-width: 992px) {
        margin-left: 0px;
        margin-top: 30px;
      }
  
      img {
        border-radius: 5px;
      }
    }
  
    .right-text-content,
    .left-text-content {
      margin-left: 15px;
      color: #ddd;
  
      @media (max-width: 992px) {
        margin-left: 0px;
      }
  
      i {
        font-size: 64px;
        color: var(--primaryColor);
        background-color: #ecf8f2;
        width: 120px;
        height: 120px;
        text-align: center;
        display: inline-block;
        line-height: 120px;
        border-radius: 5px;
  
        @media (max-width: 767px) {
          margin-bottom: 35px;
        }
      }
  
      h4 {
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
  
    .left-text-content {
      margin-right: 15px;
    }
  }
  
  /* 
  ---------------------------------------------
  contact us page
  --------------------------------------------- 
  */
  
  section.map {
    .info-item {
      text-align: center;
      padding: 40px 30px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      margin-top: -60px;
      margin-left: 15px;
      margin-right: 15px;
      position: relative;
      z-index: 2;
      transition: all 0.5s;
  
      @media (max-width: 992px) {
        margin-top: 30px;
      }
  
      &:hover {
        margin-top: -70px;
      }
  
      i {
        font-size: 36px;
        color: var(--primaryColor);
        margin-bottom: 25px;
      }
  
      h4 {
        font-size: 18px;
        color: #212741;
        font-weight: 600;
        margin-bottom: 12px;
      }
  
      a {
        font-size: 15px;
        font-weight: 600;
        color:var(--primaryDarkenColor);
        transition: all 0.3s;
  
       
      }
    }
  }
  
  #contact {
    input,
    textarea {
      width: 100%;
      background-color: #f7f7f7;
      color: #212741;
      border-radius: 5px;
      border: none;
      padding: 0px 15px;
      font-size: 14px;
      outline: none;
      margin-bottom: 30px;
    }
  
    input {
      height: 50px;
    }
  
    textarea {
      height: 180px;
      max-height: 24px;
      min-height: 150px;
      padding: 15px 15px;
    }
  
    input::placeholder,
    textarea::placeholder {
      color: #212741;
    }
  
    button.green-button {
      font-size: 14px;
      color: #fff;
      background-color:var(--secondaryColor);
      padding: 12px 30px;
      display: inline-block;
      border-radius: 5px;
      font-weight: 500;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      border: none;
      transition: all 0.3s;
  
      &:hover {
        background-color: var(--primaryColor);
      }
    }
  }


  