.navbar {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.087);
	border: none !important;
	box-shadow: none !important;
	color: white;
	transition: 0.4s;
	z-index: 100;
	transition: visibility 0;
	padding: 8px 0 ;
}

.navbar a {
	color: white !important;
}

.sticky {
	background-color: #fff !important;
	opacity: 0.9;
}

.sticky a {
	color: black !important;
}

.sticky .navTitle {
	color: black;
}


body {
	background-image: url(../../back/webp/about.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
	background-size: cover;
	height: 100vh;
}

.pageContent {
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	color: white;
	background-blend-mode: color;
	background-color: rgba(0, 0, 0, 0.724);
}

.section1 {
	margin-top: 50px;
	width: 100%;
	height: 100vh;
	padding: 25px;
	padding-top: 0px;
	display: flex;
	opacity: 1.4;
}

.mainSection_content {
	width: 70%;
	padding-left: 1vw;
	margin: 12vh 1vw;
	margin-top: 0px;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-content: baseline;
	justify-content: space-around;
	gap: 10px;
	margin-top: 8vh;
}

.intro_about {
	color: rgba(144, 176, 185, 0.498);
	font-weight: 600;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.7rem;
	text-wrap: nowrap;
}

.name {
	font-size: 50px;
	letter-spacing: 1.2px;
	text-wrap: nowrap;
}

.first_info {
	color: #eeeeee8d;
	font-size: 7vh;
	font-weight: 600;
	text-wrap: nowrap;
}

@keyframes sumAnim {
	0% {
		border: 3px solid #2b3d53;
		border-left: 3px solid white;
	}

	14.28% {
		border-top: 3px solid white;
	}

	28.56% {
		border-right: 3px solid white;
	}

	42.84% {
		border-bottom: 3px solid white;
	}

	57.12% {
		border-left: 3px solid #2b3d53;
	}

	71.40% {
		border-top: 3px solid #2b3d53;
	}

	85.62% {
		border-right: 3px solid #2b3d53;
	}

	99.96% {
		border-bottom: 3px solid #2b3d53;
	}
}

#submit a {
	transition: 0.5s;
	text-decoration: none;
	color: white;
}

#submit a:hover {
	color: #48585c;
}

#submit:hover {
	border-radius: 3px;
	box-shadow: 1px 1px 10px #44817553;
	filter: blur(0.2px) brightness(140%);
	transform: scale(1.006);
}

.section2 {
	width: 100%;
	padding: 20px;
	background-image: url(../../back/webp/aboutSection2.webp);
	background-size: cover;
	background-blend-mode: color;
	background-color: rgba(0, 0, 0, 0.756);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section2 .Aboutcontainer {
	padding: 10px;
	width: 90%;
	gap: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	animation-duration: 4s;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 523px;
	flex-basis: 350px;
	border-radius: 18px;
	background-color: white;
	filter: brightness(95%);
	color: black;
	font-family: roboto;
	text-align: center;
	transition: 0.5s ease;
	cursor: pointer;
	margin-bottom: 0;
	padding: 10px;
	gap: 3px;
	scale: 0.74;
}

.animate {
	opacity: 1;
	transform: translateY(0);
	transform: scale(1);
}

.card:hover {
	cursor: cell;
	box-shadow: 0px 0px 30px #09343393;
	transform: scale(1.04);
}

.card:hover span {
	color: black;
}

.card-image {
	height: 190px;
	background-position: 0 -20px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: 60% !important;
	background-repeat: no-repeat;
	background-position: center !important;
}

.card-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	flex-grow: 1;
	padding: 7px;
}

.card-text p {
	font-size: 19.7px;
	font-weight: 700;
	line-height: 1.5;
}

.card-text h2 {
	margin-top: 0px;
	font-size: 32px;
}

.cpp,
.c {
	background-image: url("../../img/c.svg");
}

.cpp {
	background-image: url("../../img/webp/cpp.webp");
}

.html {
	background-image: url("../../img/html.svg");
}

.css {
	background-image: url("../../img/css.svg");
}

.JavaScript {

	background-image: url("../../img/js.svg");
}

.mySql {
	background-image: url("../../img/mySql.svg");
}

.french {
	background-image: url("../../img/french.svg");
}

.english {
	background-image: url("../../img/english.svg");
}

.algo {

	background-image: url("../../img/algo.svg");
}

.dataStructure {
	background-image: url("../../img/dataStructure.svg");
}

.problemSolving {
	background-image: url("../../img/problemSolving.svg");
}

.OOP {

	background-image: url("../../img/OOP.svg");
}

@media (max-width: 1731px) {

	.mainSection_content {

		width: 100%;
		margin-top: 4.4vh;
	}

	.intro_about {
		font-size: 20px;
	}

	.name {
		font-size: 4.7vw;
		letter-spacing: 1.2px;
	}

	.first_info {
		font-size: 3.7vw;
	}

	.paragraph {
		min-width: 50%;
		max-width: 60%;
		font-size: 1.2vw;
	}

	#submit {
		padding: 4vw 1vw;
		font-size: 2.2vw;
		display: block;
		max-width: 30% !important;
		min-width: 24% !important;

		margin: 0;
		padding: 0;
	}
}

#DropDown {
	position: fixed;
	z-index: 2;
	width: 52px;

	right: 60px;
	bottom: 180px;
	opacity: 0.6;
	box-shadow: 0 0px 10px rgba(89, 90, 88, 0.604);
	border-radius: 50%;
}

@media (max-width:992px) {
	#DropDown {
		right: 20px;
		bottom: 70px;
	}

}

@media (max-width: 1040px) {
	.Aboutcontainer {
		justify-content: center !important;

		width: 100% !important;
	}

	#submit {
		width: 22vw;
	}

	#submit a {
		text-wrap: nowrap;
		font-size: 1.6vw;
	}
}

@media (max-width: 867px) {


	#submit {
		min-width: 27% !important;
	}

	#submit a {
		font-size: 2vw;
	}
}

@media (max-width: 787px) {

	.paragraph {
		min-width: 70%;
		font-size: 74% !important;
		font-size: 2.4em;

	}
}


@media (max-width: 751px) {
	.section2 .Aboutcontainer {
		gap: 0px;
	}
}

@media (max-width: 713px) {
	.section1 {
		padding: 0;

		background-position: -10vw 3vh;
	}

	.mainSection_content {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		margin-top: 4.4vh;

		align-items: center;
	}

	.paragraph {
		font-weight: 650 !important;

		width: 100% !important;
		line-height: 1.6 !important;
		/* Adjust the value as needed */
		vertical-align: middle;
		text-align: center;

	}

	.Aboutcontainer {
		justify-content: center !important;
	}
}

@media (max-width: 637px) {

	#submit a {
		font-size: 2.1vw;
	}
}

@media (max-width: 523px) {

	#submit a {
		font-size: 2.7vw;
	}

	#submit {
		min-width: 31% !important;
	}
}

@media (max-width: 455px) {

	#submit a {
		font-size: 0.6em;
	}

	#submit {
		min-width: 47% !important;
	}
}

.paragraph {
	width: 75%;
	font-weight: 500;
	font-size: 1.5vh;
	opacity: 0.7;
}

#submit {
	width: 24vw;
	border: 3px solid #2b3d53;
	font-size: 1.5rem;
	padding: 20px 1vw;
	border-radius: 7px;
	text-align: center;
	text-transform: capitalize;
	transition: ease-out 0.7s;
	animation-name: sumAnim;
	animation-duration: 2s;

	animation-iteration-count: infinite;
	animation-direction: alternate;
}