* {
    transition: 0 !important;
}

.container .navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;

}

body {
    background-image: url('../../back/webp/contact.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(4, 36, 19, 0.574);
    background-blend-mode: color;
    /* Webkit (Safari, Chrome) */
-webkit-background-blend-mode: color;

/* Mozilla Firefox */
-moz-background-blend-mode: color;

/* Microsoft Edge and Internet Explorer */
-ms-background-blend-mode: color;

}

.mainSection {
    transform: scale(0.95);
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;

}

.mainSection .textContent {
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-content: center;
    width: 50%;
    gap: 40px;
    font-size: 20px;
    justify-content: space-around;


}

.textContent h1 {
    margin-top: 4%;
    font-weight: 700;
    font-size: 2em;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-variant: small-caps;


}

.textContent h1 span {
    color: #0CAF9F;

}




.mainSection .textContent img {
    margin-top: 3%;
    border-radius: 10px 10px;
    opacity: 0.4;
    width: 65.4%;

    transition: 0.5s ease-out;


}



.mainSection .textContent p {
    font-size: 99%;

}

.textContent .SocialMedia {
    display: flex;
    width: 85%;
    justify-content: space-between;
    gap: 15px;
}

.textContent .SocialMedia a {
    transition: 0.3s ease-out;
}

.textContent .SocialMedia a:hover {

    transform: translateY(-5px) rotate(-3deg);
}

.textContent .SocialMedia a img {
    opacity: 0.58;
}

.textContent .SocialMedia a .linkedIn {
    opacity: 1;

}

.mainSection .SendEmailContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.SendEmailContainer form {
    /* background-color: red; */
    height: 60%;
    width: 100%;
    gap: 32px;





    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.UserMessage,
form input {
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.915);
    border: none;


    box-shadow: 0px 6px 10px 2px #3a322f51;
    opacity: 0.8;
    width: 80%;

    padding: 10px;
    padding-bottom: 15px;
    font-size: 0.75em;
    transition: 0.4s ease-in-out;
    outline: none;
    border-radius: 2px 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}



input:hover,
input:focus {
    opacity: 1;
    background-color: white;
    transform: translateX(-4px) scale(1.01);

}

.UserMessage:hover,
.UserMessage:focus {

    transform: translateX(-2px) scale(1.007);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.938);

}

.UserMessage {
    min-height: 100px;
}

@media (max-width:700px) {
    .mainSection {

        flex-direction: column;
        align-items: center;
    }

    .SendEmailContainer {
        width: 100%;
        justify-content: center;

    }

    .SendEmailContainer form {

        width: 100%;
        align-items: center;

        height: fit-content;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    .form input {
        margin-right: 0;
        
    }

    body {
        height: fit-content;
    }

    .mainSection {

        flex-direction: column;

    }

    .mainSection .textContent {
        margin-top: 40px;
        width: 100%;
        align-items: center;
        height: 50vh;

        margin-bottom: 5vh;
        padding: 10px;
    }

    .mainSection .textContent p {

        width: 100%;
        font-size: 78%;
    }



    .mainSection .SendEmailContainer {
        width: 100%;
        align-items: center;
    }


}